/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  padding-left: 15%;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
  width: 300px;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/******************************************************************************************/
#juego{
  width: 700px;
  height: 700px;
}

.piezas{
  width: 25%;
  border: solid 1px lightblue;
  display: inline-block;
  /* float: left; */
}

.piezas img{
  width: 100%;
}

#objetivo{
  width: 600px;
}

#objetivo img{
  width: 100%;
}

#titulo{
  background: #4e7377;
  line-height: 2;
}

#instrucciones{
  background: #4ca1c3;
}

#ultimo-mov{
  background: #78787898;
}

#titulo, #instrucciones, #ultimo-mov{
  text-align: center;
}

h3{
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 16px; */
  font-style: italic;
  /* line-height: 1.6; */

}

#flecha{
  margin: 2px;
  border: solid 2px green;
  position: relative;
  margin: auto;
}

#footer{
  text-align: center;
}